//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 14 16:40:02 2019
//! **************************************************************************

SCHEMATIC START;
COMP "HREF" LOCATE = SITE "K1" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "CAM_xclk" LOCATE = SITE "K2" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "CAM_pwdn" LOCATE = SITE "E7" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "PCLK" LOCATE = SITE "J2" LEVEL 1;
PIN PCLK_pin<0> = BEL "PCLK" PINNAME PAD;
PIN "PCLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "VGA_G<3>" LOCATE = SITE "A6" LEVEL 1;
COMP "CBtn" LOCATE = SITE "T16" LEVEL 1;
COMP "D<0>" LOCATE = SITE "H4" LEVEL 1;
COMP "D<1>" LOCATE = SITE "H1" LEVEL 1;
COMP "D<2>" LOCATE = SITE "G1" LEVEL 1;
COMP "D<3>" LOCATE = SITE "G3" LEVEL 1;
COMP "D<4>" LOCATE = SITE "H2" LEVEL 1;
COMP "D<5>" LOCATE = SITE "G4" LEVEL 1;
COMP "D<6>" LOCATE = SITE "G2" LEVEL 1;
COMP "D<7>" LOCATE = SITE "F3" LEVEL 1;
COMP "VGA_Vsync_n" LOCATE = SITE "B12" LEVEL 1;
COMP "VGA_B<0>" LOCATE = SITE "B7" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "VGA_Hsync_n" LOCATE = SITE "B11" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "D7" LEVEL 1;
COMP "CAM_reset" LOCATE = SITE "J3" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "J4" LEVEL 1;
COMP "rst" LOCATE = SITE "E16" LEVEL 1;
SCHEMATIC END;

